/* .character {
  position: absolute;
  bottom: 10vh;
  left: 25vw;
  width: 10vw;
  height: auto;
} */

.character img {
  width: 100%;
  height: auto;
}

.character.jumping {
  animation: jump 0.5s;
}

.character {
  position: absolute;
  transition: bottom 0.5s;
}

.character.jumping {
  animation: jump 0.5s;
}

.character.jumping {
  animation: jump 0.5s;
}

@keyframes jump {
  0%,
  100% {
    bottom: 12%;
  }
  50% {
    bottom: 40%;
  }
}
